{% extends 'base.html' %}

{% block content %}

<section class="container mt-3">
    <div class="card-header text-center div-2">
        <img src="{{url_for('static', filename = 'imgs/sueisssteson_2.png')}}" alt="" class="logo-img">
    </div>
    <div class="card-header justify-content-center div-2">
        <nav class="navbar">
            <h1>{% block title %}Listado de Asuntos{% endblock %}</h1>
            <a href="{{url_for('asuntos.create')}}" class="btn btn-success btn-lg">Nuevo</a>
        </nav>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="col">Asunto</th>
                <th class="col">Empleado</th>
                <th class="col">Fecha</th>
                <th class="col">Secretaria</th>
                <th class="col">Usuario</th>
                <th class="col">Estatus</th>
                <th class="col"></th>
                <th class="col" colspan="2"><p class="text-center">Documentos</p></th>
            </tr>
        </thead>
        <tbody>
            {% for a in asuntos | reverse %}
            <tr>
                <td>
                    <p>{{ a.asunto }}</p>
                </td>
                <td>
                    <p>{{ a.empleado }}</p>
                </td>
                <td>
                    <p>{{ a.fecha }}</p>
                </td>
                <td>
                    <p>{{ a.secretaria }}</p>
                </td>
                <td>
                    <p>{{ a.usuario }}</p>
                </td>
                <td>
                    {% if a.estatus == 1%}
                    <span class="text-primary"><b>INGRESADO</b></span>
                    {% elif a.estatus == 2 %}
                    <span class="text-info"><b>EN PROCESO</b></span>
                    {% elif a.estatus == 3 %}
                    <span class="text-warning"><b>EN ESPERA</b></span>
                    {% elif a.estatus == 4 %}
                    <span class="text-success"><b>CONCLUIDO</b></span>
                    {% else %}
                    <span class="text-danger"><b>BAJA  </b></span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{url_for('asuntos.update', id = a.id)}}" class="btn btn-secondary btn-sm">Editar</a>
                </td>
                <td>
                    {% if a.estatus == 4 or a.estatus == 5 %}
                    <a href="#" class="btn btn-warning btn-sm">Deshabilitado</a>
                    {% else %}
                    <a href="{{url_for('docs.create', id = a.id)}}" class="btn btn-secondary btn-sm">Agregar Documento</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{url_for('docs.index', a = a.id)}}" class="btn btn-primary btn-sm">Ver Documentos</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}